*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /*FONTS*/
  --ff-sans: 'Inter', system-ui, sans-serif;

  /*FONT WEIGHTS*/
  --fw-base: 400;
  --fw-md: 500;
  --fw-bold: 800;
  
  /*FONT SIZES*/
  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-lg: 1.25rem;
  --fs-xd: 1.5rem;
  --fs-2xd: 2.5rem;
  
  /*COLORS*/
  /*BASIC COLORS*/
  --bg-color: #09090B;
  --surface-color: #18181B;
  --stroke-color: #27272A;
  --bg-white-color: #F4F4F5;
  
  /*COLORFUL COLORS*/
  /*--brand-gradient: ;*/
  --brand-color-primary: #F7B733;
  --brand-color-secondary: #FC4A1A;
  
  /*FONT COLORS*/
  --text-color-secondary: #A1A1AA;
  --text-color-primary: #F4F4F5;
  /*--text-color-button: #09090B; could be like this or use a variable inside Style/button.css referencing --bg-color*/ 

  /*DEFAULT SPACING*/
  --padding-x: 1.5rem;

  --padding-y: 1rem;
  --padding-y-boxes: 1.rem;
  --padding-y-lg: 3rem;
}

html {
  font-family: var(--ff-sans);
  font-weight: var(--fw-base);
  font-size: var(--fs-base);
  line-height: 1.6;
  color: var(--text-color-primary);
}

body {
  background-color: var(--bg-color);
}

h1, h2, h3 {
  font-weight: var(--fw-bold);

  line-height: 1.2;
  letter-spacing: -0.04em;

  color: var(--text-color-primary)
}

h1 {
  font-size: var(--fs-2xd);
}

h2 {
  font-size: var(--fs-xd);
}

h3 {
  font-size: var(--fs-lg);
}

a {
  text-decoration: none;
  color: inherit;
}

ul[role="list"] {
  list-style: none;
}

@media (width >= 80em) {
  :root {
    --fs-lg: 2rem;
    --fs-xd: 3rem;
    --fs-2xd: 4rem;

    --padding-x: 2rem;

    --padding-y: 1.5rem;
    --padding-y-boxes: 2.5.rem;
    --padding-y-lg: 5rem;

  }
}