.container {
  --max-width: 375px;
  width: min(var(--max-width), 100% - (2 * var(--padding-x)));
  /* above is the same as using max-widht: 375px but width being 2 times the padding-x variable. When centered, it divides the total padding spacing in both sides*/

  margin-inline: auto;
  border: 1px solid purple;
}

.padding-y {
  padding-block: var(--padding-y);
}

.padding-y-boxes {
  padding-block: var(--padding-y-boxes);
}

.padding-y-lg {
  padding-block: var(--padding-y-lg);
}

.desktop-only {
  display: none;
}

.even-columns {
  display: grid;
  gap: 1rem;
}

@media (width >= 80em) {  
  .container {
    --max-width: 80em;
  }

  .desktop-only {
    display: initial;
  }

  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}