.container {
  --max-width: 375px;
  width: min(var(--max-width), 100% - (2 * var(--padding-x)));

  margin-inline: auto;
  border: 1px solid purple;
}

@media (width >= 80em) {  
  .container {
    --max-width: 80em;
  }
}